
.custom-carousel {
  position: relative;
  margin-left: 60px;
  margin-right: 60px;

  button {
   /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: red;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
*/
  .angleLeft {
      left: 10px;
    }

    .angleRight {
      right: 150px;
    }
  }

  .image-counter {
  /*  position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: green;
    padding: 5px 10px;
    border-radius: 5px;
   */ font-size: 80px;
  }
.currentIndex {
  color: red;
 
}
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    height: 415px;
    top: 163px;
    left: 100px;
  }
}
