nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 75px 0 75px;
    padding-bottom: 0px;

    a {
        font-size: 24px;
        color: black;
        text-decoration: none;
        }

    .nav-active {
        text-decoration: underline;
        color:black;
    }

    ul {
        display: flex;
        gap: 50px;
    }
}